html, body, body main {
    height: 100%;
    margin: 0;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --header-height: 100px;
}

/* Header
__________________________________________*/

body header {
    background-color: #FFFFFF;
    box-shadow: 0 0 3px  #000000;
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 99999;
    top: 0;
}

body header div a img {
    width: 80px;
    height: 80px;
}

body header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
}

body header nav ul li {
    margin: 20px;
}

body header nav ul a {
    font-size: 25px;
    text-decoration: none;
    color: #444444;
}

body header nav ul a:hover {
    color: #D0AE5E;
}

/* Main
_______________________________________________*/

body main {
    margin-top: var(--header-height);
}

.parallax-img{
    position: relative;
    height: 100%;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#first-img {
    background-image: url(img/bookshelve.jpeg)
}

#second-img {
    background-image: url(img/bookshelve1.jpeg)
}

article.intro-text {
    height: 300px;
    background-color: #FFFFFF;
}

.intro-text {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.intro-text div{
    width: 75%;
    text-align: center;
}

.cards-section{
    padding-top: 50px;
    background-color: #f4f7f8;
    width: 100%;
}

#cards-container{
    margin: 0 auto;
    position: relative;
    height: 400px;
} 

#cards-container section {
    position: absolute;
    background-color: #D0AE5E;
    height: 180px;
    width: 280px;
}

/* Footer 
________________________________________________*/

body footer{
    width: 100%;
    height: 100px;
    background-color: #22242C;
}