html, body {
    height: 100%;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --header-height: 100px;
}

/* Header
__________________________________________*/

body header {
    background-color: #f4f7f8;
    box-shadow: 0 0 3px  #000000;
    height: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

body header div a img {
    width: 80px;
    height: 80px;
}

body header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
}

body header nav ul li {
    margin: 20px;
}

body header nav ul a {
    font-size: 25px;
    text-decoration: none;
    color: #444444;
}

body header nav ul a:hover {
    color: #D0AE5E;
}

/* Main
_______________________________________________*/

body main {
    margin-top: var(--header-height);
}

#first-img{
    width: 100%;
    height: 555px;
}

body main #intro-text {
    height: 300px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body main #intro-text div{
    width: 75%;
    text-align: center;
}

/* body main #cards{
    padding: 10px 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 200px 200px;
    background-color: #f4f7f8;
} */

body main #cards {
    padding: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f4f7f8;
}

body main #cards section {
    height: 230px;
    width: 280px;
    background-color: #D0AE5E;
    margin: 10px;
}

/* Footer 
________________________________________________*/

body footer{
    width: 100%;
    height: 100px;
    background-color: #22242C;
}